@model FamilyMap.Models.Family
&nbsp;
&nbsp;
&nbsp;
&nbsp;
 @*Session["prePopulatedSuffix"] = family.suffix;
                Session["prePopulatedMembermiddleName"] = family.middleName;
                Session["prePopulateMemberfirstName"] = family.firstName;
                Session["prePopulatedMemberlastName"] = family.lastName;
                Session["prePopulatedDob"] = family.dob;
                Session["prePopulatedGender"] = family.gender;*@
@*<div class="form-group">
    <div class="row">
        <label for="name">Suffix</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="name">First Name</label><label style="color:red">*</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="name">Middle Name</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="name">Last Name</label><label style="color:red">*</label>
        <br />
        <select id="suffix" name="suffix" >
            if(@Session["prePopulatedSuffix"]=="Ms")
            {
            <option value="Ms" selected>Ms</option>
            <option value="Mr">Mr</option>
            }
            else
            {
            <option value="Mr" selected>Mr</option>
            <option value="Ms">Ms</option>
            }
        </select>
        &nbsp;&nbsp;
        <input id="firstName" class="form-control" maxlength="32" required="" type="text" placeholder="First Name" value="@Session["prePopulateMemberfirstName"]" />
        <span id="firstNameStatus" class="mycolor"></span>
        &nbsp;&nbsp;
        <input id="middleName" class="form-control" type="text" placeholder="Middle Name" value="@Session["prePopulatedMembermiddleName"]" />
        &nbsp;&nbsp;&nbsp;
        <input id="lastName" class="form-control" maxlength="10" required="" type="text" placeholder="Last Name" value="@Session["prePopulatedMemberlastName"]"/>
        
        <span id="lastNameStatus" class="mycolor"></span>
    </div>
    <br /><br />
          <div class="row">
              &nbsp;&nbsp;
              <label for="name">Date of Birth</label>
              <label style="color:red">*</label>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="name">Gender</label><label style="color:red">*</label>
              <br />
              <input id="dob" class="form-control" min=@Session["MinDate"] required="" type="date" value="@Session["prePopulatedDob"]" />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              <input id="male" name="gender" type="radio" value="male" checked /> Male
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input id="female" name="gender" type="radio" value="female" /> Female
              

          </div>
</div>*@
<div class="form-group">
    <div class="row">
        <div class="col-md-1">
            <label for="name">Suffix</label><br />
            <select id="suffix" name="suffix">
                if(@Session["prePopulatedSuffix"]=="Ms")
                {
                <option value="Ms" selected>Ms</option>
                <option value="Mr">Mr</option>
                }
                else
                {
                <option value="Mr" selected>Mr</option>
                <option value="Ms">Ms</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label for="name">First Name</label><label style="color:red">*</label><br />
            <input id="firstName" class="form-control" maxlength="32" required="" type="text" placeholder="First Name" value="@Session["prePopulateMemberfirstName"]" />
            <span id="firstNameStatus" class="mycolor"></span>
        </div>
        <div class="col-md-3">
            <label for="name">Middle Name</label>
            <input id="middleName" class="form-control" type="text" placeholder="Middle Name" value="@Session["prePopulatedMembermiddleName"]" />
        </div>
        <div class="col-md-4">
            <label for="name">Last Name</label><label style="color:red">*</label>
            <input id="lastName" class="form-control" maxlength="10" required="" type="text" placeholder="Last Name" value="@Session["prePopulatedMemberlastName"]" />
            <span id="lastNameStatus" class="mycolor"></span>
        </div>
        </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-4">
            <label for="name">Date of Birth</label>
            <label style="color:red">*</label>
            <input id="dob" class="form-control" min=@Session["MinDate"] required="" type="date" value="@Session["prePopulatedDob"]" />
        </div>
        <div class="col-md-4">
            <label for="name">Gender</label><label style="color:red">*</label><br />
            <input id="male" name="gender" type="radio" value="male" checked /> Male &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            <input id="female" name="gender" type="radio" value="female" /> Female
        </div>
    </div>
    </div>
<p>&nbsp;</p>

<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" style="color: green;" type="button" onclick="AddMember()">Add Member</button>&nbsp;&nbsp;
        <button class="btn btn-primary" style="color: green;" type="button" onclick="SaveAndExit()">Save and Exit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    <div class="col-md-6">

        <button class="btn btn-primary" style="color: green;" type="button" onclick="Back()">Back</button> &nbsp;&nbsp;
        <button class=" btn btn-primary" style="color: green;" type="button" onclick="Next()">Next</button>
    </div>
</div>
<br/>
<br/>
<br/>
@Html.ActionLink("Remove member from the Family", "RemoveFromFamily")

<br /><br /><br /><br /><br /><br />
<label style="color:red"> * represents that the fields are mandatory</label>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    function Back() {
        if (@HttpContext.Current.Session["UserID"]== 1) { window.location.href = 'http://localhost:52522/FamilyMap/HomePageForAdmin' }
        else { window.location.href='http://localhost:52522/FamilyMap/HomePageForUser' }
    }

    function Next() {
        var result = validate();
        if (result == false) {
            alert("Something went wrong in Data!!!!! Pls check");
        }

        else {
            var MemberDetail = {
                suffix: $('#suffix').val(),
                firstName: $('#firstName').val(),
                middleName: $('#middleName').val(),
                lastName: $('#lastName').val(),
                dob: $('#dob').val(),
                gender: $("input:radio[name=gender]:checked").val(),

            }

            $.ajax({
                url: 'http://localhost:52522/FamilyMap/AddFamilyMember',
                data: JSON.stringify(MemberDetail),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    window.location.href = 'http://localhost:52522/FamilyMap/AddMemberCategory'
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

    }

    function SaveAndExit() {
        var result = validate();
        if (result == false) {
            alert("Something went wrong in Data!!!!! Pls check");
        }

        else {
            var MemberDetail = {
                suffix: $('#suffix').val(),
                firstName: $('#firstName').val(),
                middleName: $('#middleName').val(),
                lastName: $('#lastName').val(),
                dob: $('#dob').val(),
                gender: $("input:radio[name=gender]:checked").val(),

            }

            $.ajax({
                url: 'http://localhost:52522/FamilyMap/PrepopulateMember',
                data: JSON.stringify(MemberDetail),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    window.location.href = 'http://localhost:52522/FamilyMap/ShowApplicationNumber'
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    }
</script>
<script>

    function AddMember() {
        var result = validate();
        if (result == false) {
            alert("Something went wrong in Data!!!!! Pls check");
        }

        else {
            var MemberDetail = {
                suffix: $('#suffix').val(),
                firstName: $('#firstName').val(),
                middleName: $('#middleName').val(),
                lastName: $('#lastName').val(),
                dob: $('#dob').val(),
                gender: $("input:radio[name=gender]:checked").val(),

            }

            $.ajax({
                url: 'http://localhost:52522/FamilyMap/AddMemberToSession',
                data: JSON.stringify(MemberDetail),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    window.location.href = 'http://localhost:52522/FamilyMap/AddFamilyMember'
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    }
</script>

<script type="text/javascript">

    function validate() {
        var isValid = true;
        var firstNameVal = /^[a-zA-Z'*-]+$/;


        /*******************FIRSTNAME VALIDATION*****************/
        if (!$('#firstName').val().match(firstNameVal)) {
            $('#firstName').css('border-color', 'Red');
            $('#firstNameStatus').html("First Name can be alphabet and special character!!!").css('color', 'Red');
            isValid = false;
        } else {
            $('#firstName').css('border-color', 'Green');
            $('#firstNameStatus').html("");
        }

        /*******************LASTNAME VALIDATION*****************/
        if (!$('#lastName').val().match(firstNameVal)) {
            $('#lastName').css('border-color', 'Red');
            $('#lastNameStatus').html("Last Name can be alphabet and special character!!!").css('color', 'Red');
            isValid = false;
        } else {
            $('#lastName').css('border-color', 'Green');
            $('#lastNameStatus').html("");
        }
        return isValid;
    }
</script>
