@model FamilyMap.Models.User
@{
    Layout = "";
}


@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <div style="background-image:url('../../images/family1.jpg');
                 background-repeat: no-repeat;
                 background-size: cover;
               width:80%; 
               height: 80%;
               border: 1px solid #6c426a; 
               padding: 20px; 
               border-radius: 1%; 
               align-content: center; 
               position: center;">
        <div class="col-md-8" style="position:absolute;background-color:dimgrey"></div>
        &nbsp;&nbsp;
        <fieldset style="border:solid;color:crimson; width: 400px;margin: 0 auto;">
            <legend style="align-content:center;margin:auto;font:x-large">Family Tree Login Form</legend>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">

                </div>
            }

            <table align="center" style="border:1px solid black;margin-left:auto;margin-right:auto;">
                <tr>
                    <td><label>User Name</label></td>
                    <td>@Html.TextBoxFor(a => a.userName)</td>
                    <td>@Html.ValidationMessageFor(a => a.userName)</td>
                </tr>
                <tr>
                    <td>
                        <label>Password</label>
                    </td>
                    <td>
                        @Html.PasswordFor(a => a.passwd)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.passwd)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login" />
                    </td>
                    <td></td>
                </tr>
            </table>

        </fieldset>

        <div style="width:400px;margin:0 auto;text-align:center">
          New User?  @Html.ActionLink("Register here", "Register")
        </div>
        </div>

        }

