<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label style="color:white">FAMILYTREE</label>
                <span class="glyphicon-home"></span>
            </div>

            @if (@Session["UserID"].ToString() != null)
            {

                <ul class="nav navbar-nav">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="color:white">
                  Welcome @Session["UserName"] &nbsp;&nbsp; @Html.ActionLink("Logout", "Logout", "User")
                </ul>
            }


        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
